<div
    class="bg-amber-50 rounded-lg px-3 py-4 ring shadow-xl ring-gray-900/5 scroll-auto min-w-[550px] max-w-[550px] max-h-[600px] min-h-[300px] text-gray-800 flex flex-col ">
    <h1 class="text-center w-full">Child</h1>
    <label>Send Message To Child</label>
    <input class="bg-gray-800 rounded-xl px-3 py-3 text-white" placeholder="Enter Your Message..." type="text"
        name="msg" [(ngModel)]="msgInput">
    <p-button class="justify-center mt-2 mb-2" severity="contrast" rounded="true" label="Send Message" raised="true"
        (click)="passMsgToParent()" />
    <app-button-demo  [btnSeverity]="btnSeverity" [btnText]="btnText" [isRaised]="isRaised" (clickEvent)="handleBtnClick($event)"/>
</div>