<h1>How Components Talks To Each Other</h1>
<h3>This page showcase how components in Angular talk to each other</h3>

<p-divider />

<div class="bg-gray-800 rounded-lg px-3 py-4 ring shadow-xl ring-gray-900/5  scroll-auto min-w-[1200px] max-w-[1200px] max-h-[1200px] min-h-[300px] text-white font-bold">
    <p class=" text-2xl mb-2 flex justify-center ">
        Parent to Child With &#64;Input
    </p>
    <app-p2c1-parent class="" />
</div>


<div class="bg-gray-800 rounded-lg px-3 py-4 ring shadow-xl ring-gray-900/5  scroll-auto min-w-[1200px] max-w-[1200px] max-h-[1200px] min-h-[300px] text-white font-bold mt-2">
    <p class="text-shadow-gray-800 text-2xl mb-2 font-bold flex justify-center">
        Parent to Child With ViewChild
    </p>
    <app-p2cDirectAccess-parent />
</div>

<p-divider />



<div class="bg-gray-800 rounded-lg px-3 py-4 ring shadow-xl ring-gray-900/5  scroll-auto min-w-[1200px] max-w-[1200px] max-h-[1200px] min-h-[300px] text-white font-bold">
    <p class=" text-2xl mb-2 flex justify-center ">
        Child To Parent
    </p>
    <app-c2p-parent />
</div>

<p-divider />
<div>
    <p class="text-shadow-gray-800 text-2xl mb-2 font-bold flex justify-center">
        Unrelated/Sibling to Unrelated/Sibling
    </p>
    <div class="flex gap-1">
        <div
            class="bg-gray-800 rounded-lg px-6 py-8 ring shadow-xl ring-gray-900/5 min-w-[600px] max-w-[600px] max-h-[600px] scroll-auto">

            <p class="text-white mt-2">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium adipisci ratione impedit minus
                odit
                doloribus facere itaque numquam labore repellat ex, velit sapiente ipsum, laudantium reiciendis suscipit
                ducimus id porro. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis vel accusantium
                natus
                ratione quam eveniet rem impedit dignissimos cum omnis perspiciatis illo, minima alias sed doloribus
                amet
                esse delectus ducimus?Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, laudantium ea maxime
                repudiandae hic, corporis, consectetur voluptatibus maiores cumque voluptas odio temporibus autem
                excepturi
                nam!
            </p>
        </div>
        <div
            class="bg-gray-800 rounded-lg px-6 py-8 ring shadow-xl ring-gray-900/5 min-w-[600px] max-w-[600px] max-h-[600px] scroll-auto">
            <p class="text-white mt-2">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium adipisci ratione impedit minus
                odit
                doloribus facere itaque numquam labore repellat ex, velit sapiente ipsum, laudantium reiciendis suscipit
                ducimus id porro. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis vel accusantium
                natus
                ratione quam eveniet rem impedit dignissimos cum omnis perspiciatis illo, minima alias sed doloribus
                amet
                esse delectus ducimus?Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, laudantium ea maxime
                repudiandae hic, corporis, consectetur voluptatibus maiores cumque voluptas odio temporibus autem
                excepturi
                nam!
            </p>
        </div>
    </div>
</div>