<app-header />
<main class="flex flex-col items-center justify-center pt-15">
  <router-outlet />
</main>
<app-footer />



<!-- Modal -->
<!-- <div #registerModal class="modal" id="staticBackdrop">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Register</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="closeRegisterModalFunction()"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <label for="">name</label>
            <input type="text" class="form-control" placeholder="Enter Your name" [(ngModel)]="resgisterObj.name">
          </div>
          <div class="col-12">
            <label for="">Mobile No.</label>
            <input type="text" class="form-control" placeholder="Enter Mobile No." [(ngModel)]="resgisterObj.MobileNo">
          </div>
          <div class="col-12">
            <label for="">Password</label>
            <input type="text" class="form-control" placeholder="Enter Password" [(ngModel)]="resgisterObj.Password">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
          (click)="closeRegisterModalFunction()">Close</button>
        <button type="button" class="btn btn-primary" (click)="onRegister()">Register</button>
      </div>
    </div>
  </div>
</div>

<div #loginModal class="modal" id="loginModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Login</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="closeLoginModalFunction()"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <label for="">Mobile No.</label>
            <input type="text" class="form-control" placeholder="Enter Your Username" [(ngModel)]="loginObj.UserName">
          </div>
          <div class="col-12">
            <label for="">Password</label>
            <input type="password" class="form-control" placeholder="Enter Password"
              [(ngModel)]="loginObj.UserPassword">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
          (click)="closeLoginModalFunction()">Close</button>
        <button type="button" class="btn btn-primary" (click)="onLogin()">Login</button>
      </div>
    </div>
  </div>
</div> -->